.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 0.75rem 0.25rem;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.arrow {
  cursor: pointer;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.title {
  font-size: 1rem;
}
